<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>controller.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <display-name>application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InscriptionController</display-name>
    <servlet-name>InscriptionController</servlet-name>
    <servlet-class>controller.InscriptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionController</servlet-name>
    <url-pattern>/InscriptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PizzaController</display-name>
    <servlet-name>PizzaController</servlet-name>
    <servlet-class>controller.PizzaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaController</servlet-name>
    <url-pattern>/PizzaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PizzaDetailController</display-name>
    <servlet-name>PizzaDetailController</servlet-name>
    <servlet-class>controller.PizzaDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaDetailController</servlet-name>
    <url-pattern>/PizzaDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>controller.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefServlet</display-name>
    <servlet-name>ChefServlet</servlet-name>
    <servlet-class>controller.ChefServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefServlet</servlet-name>
    <url-pattern>/ChefServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListController</display-name>
    <servlet-name>OrderListController</servlet-name>
    <servlet-class>controller.OrderListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListController</servlet-name>
    <url-pattern>/OrderListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LivreurController</display-name>
    <servlet-name>LivreurController</servlet-name>
    <servlet-class>controller.LivreurController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivreurController</servlet-name>
    <url-pattern>/LivreurController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPizzaController</display-name>
    <servlet-name>AdminPizzaController</servlet-name>
    <servlet-class>controller.AdminPizzaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPizzaController</servlet-name>
    <url-pattern>/AdminPizzaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefController</display-name>
    <servlet-name>ChefController</servlet-name>
    <servlet-class>controller.ChefController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefController</servlet-name>
    <url-pattern>/ChefController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChefController</display-name>
    <servlet-name>AdminChefController</servlet-name>
    <servlet-class>controller.AdminChefController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChefController</servlet-name>
    <url-pattern>/AdminChefController</url-pattern>
  </servlet-mapping>
</web-app>